# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Node
node_modules
npm-debug.log

# Environment
.env
.env.*

# IDE
.idea
.vscode
*.swp
*.swo

# Tests
tests
.phpunit.result.cache

# Build artifacts
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor

# Logs
*.log
storage/logs

# OS
.DS_Store
Thumbs.db

